<!DOCTYPE html>
<html>
<head>
  <title>Hogwarts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<hr>
<%= link_to "List Students", students_path %>
<%= link_to "New Student", new_student_path %>

<%= link_to "Houses", houses_path %>
<%= link_to "Welcome", root_path %>

</body>
</html>
